@import '_dark-theme.css';

#center-panel {
    background-color: var(--center-panel);
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

#project-header {
    padding: 10px 5px 10px 5px;
    margin: 0px 30px 0px 30px;
    min-height: 60px;
    max-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--line);
}

#project-title {
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 36px;
    color: var(--primary-text);
}

#project-desc {
    padding-left: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    color: var(--secondary-text);
}