@import '_dark-theme.css';

#center-panel {
  background-color: var(--center-panel);
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

#project-header {
  padding: 10px 5px 10px 5px;
  margin: 0px 30px 0px 30px;
  min-height: 60px;
  max-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--line);
}

#project-data-container {
  flex-direction: column;
  justify-content: space-evenly;
}

#project-title {
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 36px;
  color: var(--primary-text);
}

#project-desc {
  padding-left: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  color: var(--secondary-text);
}

#task-list-container {
  overflow-y: scroll;
}

#task-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.task-list-item {
  display: flex;
  margin: 5px 10px 5px 0px;
  padding: 10px 0px 10px 0px;
  height: 30px;
  text-align: left;
  font-size: 24px;
  flex-direction: row;
  align-items: center;
  color: var(--primary-text);
  border-radius: 5px;
  border-bottom: 1px solid var(--line);
  user-select: none;
}

.task-list-item:hover {
  background-color: var(--card);
  cursor: pointer;
}

.task-check {
  display: block;
  position: absolute;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid var(--line);
}

.task-input {
  margin: 0px 10px 0px 10px;
  width: 1em;
  height: 1em;
}

.low-check {
  border-color: #fdfd96;
}

.normal-check {
  border-color: #ffb347;
}

.high-check {
  border-color: #ff6961;
}

.task-name {
  margin: 0px 5px 0px 5px;
  width: 33%;
}

.task-desc {
  margin: 0px 5px 0px 5px;
  width: 11%;
  font-size: 12px;
  color: var(--secondary-text);
}

.task-due-date {
  margin: 0px 5px 0px 5px;
  width: 33%;
  flex-grow: 1;
}

.edit-task-btn {
  margin: 0px 5px 0px 5px;
}

.delete-task-btn {
  margin: 0px 5px 0px 5px;
}

#task-list-controls {
  display: flex;
  flex-grow: 3;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}

#add-task-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 5px;
  color: var(--focus);
  border: 1px solid var(--focus);
}

#add-task-btn:hover {
  background-color: var(--center-panel);
  border: 1px solid var(--focus);
  cursor: pointer;
}

#add-task-btn:active {
  color: var(--center-panel);
  border: 1px solid var(--focus);
  background-color: var(--focus);
}

.checked {
  color: var(--secondary-text);
  text-decoration: line-through;
}
