@import '_dark-theme.css';

#center-panel {
    background-color: var(--center-panel);
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

#project-header {
    padding: 10px 5px 10px 5px;
    margin: 0px 30px 0px 30px;
    min-height: 60px;
    max-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--line);
}

#project-title {
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 36px;
    color: var(--primary-text);
}

#project-desc {
    padding-left: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    color: var(--secondary-text);
}

#task-list {
    min-height: 500px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}

.task-list-item {
    display: flex;
    margin: 5px 10px 5px 0px;
    padding: 10px 0px 10px 0px;
    height: 30px;
    text-align: left;
    font-size: 24px;
    flex-direction: row;
    align-items: center;
    color: var(--primary-text);
    border-radius: 5px;
    border-bottom: 1px solid var(--line);
    user-select: none;
}

.task-list-item:hover {
    background-color: var(--card);
    cursor: pointer;
}

#task-list-controls {
    margin: 0px 30px 0px 30px;
    text-align: right;
}

#add-task-btn:hover {
    background-color: var(--side-panel);
}
