@import '_dark-theme.css';

#add-project-container {
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add-project-form {
    height: 66%;
    width: 33%;
    margin: auto;
    background-color: var(--background);
    border-radius: 5px;
}