@import '_dark-theme.css';

#side-panel {
    min-width: 330px;
    max-width: 330px;
    background-color: var(--side-panel);
    display: flex;
    flex-direction: column;
    flex-grow: 0.5;
}

#projects-header {
    padding: 10px 5px 10px 5px;
    margin: 0px 30px 0px 30px;
    min-height: 60px;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: #ababab;
    border-bottom: 1px solid var(--line);
}

#projects-list {
    min-height: 500px;
    min-width: 400px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}

.project-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 10px 5px 0px;
    padding: 5px 0px 5px 5px;
    width: 60%;
    height: 25px;
    text-align: left;
    font-size: 18px;
    color: var(--primary-text);
    border-radius: 5px;
    user-select: none;
}

.project-list-item:hover {
    background-color: var(--card);
    cursor: pointer;
}

.project-list-item-focused {
    background-color: var(--card);
    color: var(--focus);
}

.item-list-name {
    flex-grow: 3;
}

.edit-project-btn {
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-project-icon {
    color: var(--secondary-text);
}

.edit-project-icon:hover {
    color: var(--focus);
}

.delete-project-btn {
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-project-icon {
    color: var(--secondary-text);
}

.delete-project-icon:hover {
    color: var(--error);
}

.hidden {
    visibility: hidden;
}

#projects-controls {
    margin: 0px 30px 0px 30px;
    text-align: left;
    border-top: 1px solid var(--line);
}

#add-project-btn {
    padding: 5px;
    margin: 5px;
    max-height: 32px;
    border: none;
    border-radius: 5px;
    background-color: inherit;
    color: var(--primary-text);
    font-size: 14px;
}

#add-project-btn::before {
    content: '+';
    margin-right: 5px;
}

#add-project-btn:hover {
    background-color: var(--center-panel);
}

#add-project-btn:active {
    color: var(--focus);
}