@import '_dark-theme.css';

#side-panel {
    min-width: 330px;
    max-width: 330px;
    background-color: var(--side-panel);
    display: flex;
    flex-direction: column;
    flex-grow: 0.5;
}

#projects-header {
    padding: 10px 5px 10px 5px;
    margin: 0px 30px 0px 30px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: #ababab;
    border-bottom: 1px solid var(--line);
}

#projects-list {
    min-height: 500px;
}

#projects-controls {
    margin: 0px 30px 0px 30px;
    text-align: left;
    border-top: 1px solid var(--line);
}

#add-project-btn {
    padding: 5px;
    margin: 5px;
    max-height: 32px;
    border: none;
    border-radius: 5px;
    background-color: inherit;
    color: var(--primary-text);
    font-size: 14px;
}

#add-project-btn::before {
    content: '+';
    margin-right: 5px;
}

#add-project-btn:hover {
    background-color: var(--center-panel);
}

#add-project-btn:active {
    color: var(--focus);
}