@import '_dark-theme.css';

#side-panel {
  min-width: 330px;
  max-width: 330px;
  background-color: var(--side-panel);
  display: flex;
  flex-direction: column;
  flex-grow: 0.5;
}

#projects-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 5px 10px 5px;
  margin: 0px 30px 0px 30px;
  min-height: 60px;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  color: #ababab;
  border-bottom: 1px solid var(--line);
}

#projects-list-container {
  overflow-y: scroll;
  max-width: 330px;
}

#projects-list {
  max-width: 330px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

#projects-list-container::-webkit-scrollbar {
  width: 1em;
}

#projects-list-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#projects-list-container::-webkit-scrollbar-thumb {
  background-color: var(--side-panel);
  outline: 1px solid var(--side-panel);
}

.project-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 10px 5px 0px;
  padding: 5px 0px 5px 5px;
  width: 90%;
  height: 25px;
  text-align: left;
  font-size: 18px;
  color: var(--primary-text);
  border-radius: 5px;
  user-select: none;
}

.project-list-item:hover {
  background-color: var(--card);
  cursor: pointer;
}

.project-list-item-focused {
  background-color: var(--card);
  color: var(--focus);
}

.item-list-name {
  flex-grow: 3;
}

.edit-project-btn {
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-project-icon {
  color: var(--secondary-text);
}

.edit-project-icon:hover {
  color: var(--focus);
}

.delete-project-btn {
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-project-icon {
  color: var(--secondary-text);
}

.delete-project-icon:hover {
  color: var(--error);
}

.hidden {
  visibility: hidden;
}

#projects-controls {
  display: flex;
  flex-direction: row;
  flex-grow: 3;
  justify-content: flex-end;
  text-align: right;
}

#add-project-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 5px;
  color: var(--focus);
  border: 1px solid var(--focus);
}

#add-project-btn:hover {
  color: var(--focus);
  border: 1px solid var(--focus);
  cursor: pointer;
}

#add-project-btn:active {
  color: var(--side-panel);
  border: 1px solid var(--focus);
  background-color: var(--focus);
}
